* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Utilidades GLobais*/

.flex {
    display: flex;
}

.inline-block {
    display: inline-block;
}

body {
    background-color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.divisor-vertical {
    margin: 0;
    height: 100%;
    padding: 20.5% 0;
    border: 4px solid rgb(211, 211, 211);
}

/*Header*/

.cabecalho {
    background-color: rgb(175, 174, 174);
    color: rgb(0, 0, 0);
    padding: 10px;
}

.faixa {
    height: 40px;
    width: 100%;
    background: repeating-linear-gradient(135deg,
            #f5d76e,
            /* amarelo claro */
            #f5d76e 20px,
            #e0b94f 20px,
            /* amarelo mais escuro */
            #e0b94f 40px);
    border-top: 4px solid #caa23a;
    border-bottom: 4px solid #caa23a;
}

.cabecalho2 {
    background-color: rgb(150, 149, 149);
    padding: 10px;
}

.menu {
    display: flex;
    gap: 20px
}

.botao {
    background-color: rgb(211, 211, 211);
    border: 1px solid black;
    padding: 2px;
}

.fa-floppy-disk {
    color: rgb(41, 127, 255);
}

.fa-x {
    color: red
}

/*Main*/

/*Main-Navegation*/

.navegation {
    max-width: 400px;
    width: 100%;
    height: 100%;
}

.navegation-head {
    display: flex;
    gap: 10px;
    align-items: center;
}

.nav-menu {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    background-color: rgb(211, 211, 211);

}

.borda {
    border: 1px solid black;
}

.flex {
    display: flex;
}

.padding {
    padding: 3px;
}

/*Nav-Tabela*/

table {
    border-collapse: collapse;
    border: 1px solid rgb(211, 211, 211);
    width: 100%;
}

td,
th {
    border: 1px solid rgb(165, 165, 165);
}

th {
    background-color: rgb(211, 211, 211);
    padding: 4px 8px;
}

td:hover {
    background-color: lightblue;
}

th:hover {
    background-color: lightblue;
}

/*Main Principal*/

.box-main {
    width: 100%;
}

.titulo {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    align-items: center;
}

.esquerdo1 {
    display: flex;
    gap: 20px;
    padding: 10px;
    padding: 10px;
    gap: 30px;
    align-items: center;
}

.direito1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    gap: 150px;
}

.icone {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tabelaHead {
    background-color: rgb(204, 204, 204);
    display: flex;
    justify-content: space-between;
}

.esquerdo {
    display: flex;
    gap: 20px;
    padding: 10px;
}

.direita {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    gap: 10px;
}


.fa-trash {
    color: blue;
}

.tabelagrande {
    width: 100%;
    border-collapse: collapse;
    height: 20px;
}

.tabelagrande th {
    text-align: left;
    padding: 4px;
    padding-right: 10px;
    border-spacing: 100px;
}

.tabelagrande td,
th {
    padding: 8px 12px;
}

.tabelagrande td {
    padding: 2px 6px;
}

#teste {
    padding: 0;
}

#cor {
    background-color: #e9e9e9;
}

/*Main Infos*/

.infos-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 4px solid skyblue;
    padding: 5px;
}

.box-input {
    margin: 0 0 0 auto;
    max-width: 1300px;
    width: 100%;
    height: 100%;
    padding: 5px;
}

.input-box {
    position: relative;
    display: inline-block;
    width: 100%;
}

.input-box input {
    width: 100%;
    font-size: 18px;
}

.input-box #paste-icon {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
}

.input {
    width: 100%;
    margin: 4px 0;
    gap: 10px;
    font-size: 18px;
}

.esquerda2 {
    width: 100%;
}

.direita2 {
    width: 100%;
}

input {
    width: 100%;
    font-size: 18px;
}

select {
    width: 100%;
    font-size: 18px;
}

label {
    display: inline-block;
    text-align: right;
    max-width: 200px;
    width: 100%;
}